
/*selettore tag*/
body{
    background-color: #E1F5FE;
}

 /* selettore classe */
.navbar{
    color: rgb(2, 2, 103);
}

/* selettore id */
#general_title{
    color: rgb(132, 43, 215);
}

/* togliere i punti nelle liste ul */
li{
    list-style-type: none;
}


.main_images{
    border: 2px solid blue;
    width: 50%;
    height: 50%;

}

#image3{
    border: 2px dotted violet;
}


